  

body{
margin:128px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
background-color: #D5E1EF;
}



.card-container{
box-shadow:25px;
display: grid;
  grid-template-columns: 1fr;
  width: 320px;
  min-height: 499px;
  margin: 0 auto; 
  place-items: center; 
  padding: 16px; 
  border-radius:20px;
  background:white;
}


.card-image{
padding:0;
width:100%;
border-radius: 10px;
}

#card-title{
padding-top:24px;
padding-bottom:16px;
margin:0;  text-align:center;  
font-size:22px;  
color:#1F314F;
line-height:120%;
}

p{
color:#68778D;
text-align:center;
line-height:140%;
letter-spacing:0.2px;
font-size:15px;
}

#footer-image{
display: block;
margin: 0 auto;
}

.shadow-lg {
display:flex;
justify-content: center;
box-shadow:
0 0 20px rgba(229, 7, 200, 0.8),
0 0 60px rgba(229, 7, 200, 0.5),
0 1rem 10rem rgba(229, 7, 200, 0.3);
}
.bg-body-tertiary {
background-color: #f8def7a1;
}
.shadow-container {
display: block;
width: fit-content;
margin: 0 auto;
text-shadow: 5px 0 12px rgba(0,0,0,.5);
padding-bottom: 32px;
padding-left: 16px;
padding-right: 16px;
}

.shadow-text{
margin:auto;
color:darkviolet;
}
